/* Remove that awful yellow color and border from today in Schedule */
.fc-today {
  opacity: 0;
  border: none; }

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
  border-radius: 0px;
  border: none;
}
.fc-agenda-slots td div {
     height: 100px !important;
}
.fc-time{
  font-weight: bold;
}

.fc-location{
  font-size: 80%;
}
/* Bolds the name of the event and inherits the font size */
.fc-event {
  font-size: inherit !important;
  padding: 5px;
  margin: 5px;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
  border-style: none !important;
  border-width: 1px !important;
  padding: 0 !important;
  vertical-align: top !important; }

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
  z-index: 1 !important;
  background: inherit !important;
  opacity: .25 !important; }

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
  font-weight: normal !important; }

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px !important; }

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
  opacity: .65 !important;
  margin-left: 12px !important;
  padding: 5px !important; }
