<ion-view view-title="EDT - UR1">
  <ion-content padding="true">
    <div style="text-align:center">
      <br>
      <h1>Emploi du temps</h1>
      <br>

      <button class="button button-balanced" ng-click="openSearch()">
          Rechercher une promo
      </button>
      
      <button class="button button-calm" ng-click="update()">
          Mettre à jour
      </button>

      <br>
      <br>
      <h3>Mes favoris</h3>
      <br>
      <ion-list>
          <ion-item ng-repeat="fav in favoris" ui-sref="app.promo({promoId : fav.id})">
              {{fav.name}}
          </ion-item>
      </ion-list>
      </div>

  </ion-content>
</ion-view>
