<ion-modal-view>
    <ion-header-bar>
    <h1 class="title">Recherche</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeSearch()">Retour</button>
    </div>
    </ion-header-bar>
    <ion-content padding="true">
        <form ng-submit="doLogin()">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Exemple : miage ..." ng-model="search.name">
                </label>
            </div>
        </form>
        
        <br>

        <ion-list>
            <ion-item ng-repeat="prom in promos | filter:search:strict" ui-sref="app.promo({promoId : prom.id})" ng-click="closeSearch()">
                {{prom.name}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-modal-view>
