<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Emploi du temps | Rennes 1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDT-R1 | M2 MIAGE</title>
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="EDT-Rennes1">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/init.js"></script>

    <style>
    .collection-item{
      background-color: transparent;
      transition: background-color .5s;
    }
    .collection-item:hover{
      background-color: lightgrey;
      transition: background-color .5s;
    }

    main{
      padding: 1em;
    }

    #favorites{
      z-index: 1;
      height: 56px;
      padding: 0 .5rem;
      color:white;
    }

    #favorites i{
      display: inline;
      font-size: 2rem;
      height: 56px;
      line-height: 56px;
    }

    #favorites.fav i{
      color:gold;
    }

    </style>
  </head>
  <body ng-app="Calendar">
    <nav ng-controller="NavController" class="light-blue lighten-1" role="navigation" style="padding: 0 1em;">
      <div class="nav-wrapper">
        <a href="#/" class="brand-logo center" id="page-title">EDT</a>

        <ul class="right">
          <li>
            <span style="display:none" id="favorites" class="waves-effect btn-flat" ng-click="add_favoris()"><i class="material-icons fav">star</i></span>
          </li>
        </ul>
        
        <ul id="slide-out" class="side-nav ">

          <h3 class="center grey-text">Agenda</h3>

          <div style="margin:1em 0" class="divider"></div>

          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li >
                <a class="collapsible-header">Mes favoris ({{ nb_favoris }})<i class=" material-icons orange-text">star</i></a>
                <div class="collapsible-body">
                  <ul class="g-text">
                    <li style="padding:0 3rem" ng-repeat="fav in liste_favoris">
                      <a href="{{fav.url}}" style="margin-left:1em;">{{fav.name}}</a>
                    </li>
                    <li style="padding:0 3rem" ng-show='nb_favoris == 0'><a>Aucun favori</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>

          <div style="margin:1em 0" class="divider"></div>

          <li class="no-padding" style="background-color:transparent !important">
            <div class="nav-wrapper">

              <div style="border-bottom: 1px lightgrey solid;margin: auto;" class="input-field col s6">
                <i style="padding: 1rem ;" class="material-icons prefix blue-text">search</i>
                <input style="margin-left: 3rem;" placeholder="Rechercher une promo" id="searchText" name="searchText" ng-model="searchText" type="text" class="black-text">
              </div>

              <div class="" ng-show="searchText.length >= 2">
                <a style="padding:0 5rem " ng-animate="'animate'" ng-repeat="promo in filteredList = (promo_list | filter:searchText)" href="{{promo.url}}" class="black-text collection-item">{{promo.name}}</a>
                <p ng-hide="filteredList.length" class="center grey-text">Aucun résultat</p>
              </div>

              <p ng-show="searchText.length > 0 && searchText.length < 2 " class="center grey-text">Trop court</p>

            </div>
          </li>
        </ul>
        <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      </nav>

      <main class="container">
        <div ng-view></div>
      </main>

      <!--  Scripts-->
      <script src="lib/angular/angular.min.js"></script>
      <script src="lib/angular-route/angular-route.min.js"></script>
      <script src="lib/angular/angular-locale_fr-fr.js"></script>
      <script src="js/calendar.js"></script>
      <script src="js/agendacontrollers.js"></script>
      <script src="js/hammer.min.js"></script>
      
    </body>
  </html>