
<div class="section no-pad-bot" id="index-banner">
	<div class="container">
	  <br><br>
	  <h3 class="header center orange-text">Emploi du temps</h3>
	  <div class="row center">
	    <h5 class="header col s12 light">Accédez plus rapidement à votre emploi du temps !</h5>
	  </div>
	  <div class="row center">
	    <button id="start" class="btn-large waves-effect waves-light orange">Commencer</button>
	  </div>
	  <br><br>
	</div>
</div>
<script>
	$("#start").on('click',function(){
		$('.button-collapse').sideNav('show');
	});
</script>