<div ng-show="loading" class="loading-wrapper center" style="margin-top:5em;">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
	<br/>
	<p>Chargement ...</p>
</div>
<div class="row">
	<div ng-show="error" style="background-color: #FF9800; padding:1em; color:white; text-align:center" role="alert">{{error.message}}</div>
</div>
<div class="row" ng-show="show_app" id="planning">
	<p class="center">
		<a id="previous_day_btn" class="waves-effect btn-flat" style="padding:0; " ng-click="previous_day()">
			<i class="material-icons" style="font-size:4rem;">chevron_left</i>
		</a>
		<span id="current_date" style="font-size:2em;vertical-align: middle;">{{current_date | date:' EEE dd MMM'}}</span>
		<a id="next_day_btn" class="waves-effect btn-flat" style="padding:0; " ng-click="next_day()">
			<i class="material-icons" style="font-size:4rem;">chevron_right</i>
		</a>
	</p>

	<div class="divider"></div>

	<div ng-animate="'animate'" ng-repeat="d in days | filter : {date: current_date} ">
		<div ng-repeat="event in d.events | orderBy:'start'">
			<div class="col s12 m8 offset-m2 l6 offset-l3 ">
				<div class="card-panel ">
					<b>{{event.start | date:'HH:mm'}} - {{event.end | date:'HH:mm'}} | {{event.summary}}</b>
					<hr/>
					<p>
						<em>{{event.description}}</em>
					</p>
					<b>{{event.location}}</b>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	var myElement = document.getElementById('planning');
	var mc = new Hammer(myElement);

	// listen to events...
	mc.on("swipeleft", function(ev) {
	    $('#next_day_btn').click();
	});

	// listen to events...
	mc.on("swiperight", function(ev) {
	    $('#previous_day_btn').click();
	});
</script>